

@media screen and (max-width: 1280px) {
    
    .header__button {
        padding-bottom: 3em;
    }
    .header__subtitle {
        margin-bottom: 8em;
    }
    .header__logo {
        margin-bottom: 10em;
    }
}





@media screen and (max-width: 992px) {
    
    .header__logo {
        margin-bottom: 10em;
    }
}






@media screen and (max-width: 768px) {

    .gamburger {
        display: block;
        top: 15px;
        right: 15px;
    }

    .nav {
        display: none;
    }

    .header__logo {
        margin-bottom: 16em;
    }
    
    /* our story =========================*/


    .our-story__cards {
        display: flex wrap;
        flex-direction: column;
        justify-content: center;
    }

    .our-story__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30vw;
    }

    .our-story__card {
        text-align: center;
        margin: 10px 0;
        width: 30vw;
        
    }

    .our-story__description  {
        display: flex;
        align-items: stretch;
        width: 30vw;
    }


    /* services ==================================*/

    .services__title::after {
        transform: translateY(60px);
    }

    .services__card {
        height: 420px;
    }

    /* get-in-touch =====================================*/

    .get-in-touch__title {
        padding-top: 2em;
        width: 50%;
    }
}
    


@media screen and (max-width: 568px) {

    .container  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* header============================ */

    .header__logo {
        margin-bottom: 5em;
    }

    .header__subtitle {
        margin-bottom: 7em;
    }

    /* our story ====================*/


    .our-story__body {
        display: flex;
        align-items: center;
    }

    .our-story__content{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95vw;
    }

    .our-story__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95vw;
     }

    .our-story__card {
        text-align: center;
        margin: 10px 0;
        width: 95vw;
    }

    .our-story__description  {
        align-items: center;
        width: 95vw;

    }

    /* services =====================*/

    .services__content {
         display: flex;
         flex-direction: column;
         justify-content: center;
    }

    .services__header {
        padding-top: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .services__title {
        text-align: center;
        width: 95vw;
    }

    .services__title::after {
        left: 0;
        right: 0;
        transform: translateY(30px);
    }

    .services__description {
        margin-top: 15px;
        width: 95vw;
    }

    .services__button {
        margin-top: 15px;
    }


    .services__body {
        flex-direction: column;
        justify-content: center;
    }

    .services__card {
        margin-top: 10px;
        width: 95vw;
        height: 330px;
    }

    /* get-in-touch =======================*/

    .get-in-touch__title {
        padding-top: 1em;
        width: 50%;
        text-align: center;
    }

    .get-in-touch__wrap {
        height: 200px;
    }

    .get-in-touch__newsletter {
        flex-direction: column;
    }

    .get-in-touch__input-wrap {
        flex-direction: column;
        margin-top: 15px;
    }


    /* footer ==================================*/


    .footer__body {
        display: flex;
        flex-wrap: wrap;   
    }

    .footer__company {
        display: flex;
        margin-bottom: 10px;
        width: 100%;
        text-align: justify;
    }

    .footer__company-title {
        margin-bottom: 10px;
    }

    .footer__konstrukt-logo {
        margin-bottom: 10px;
    }

    .footer__links {
        width: 50%;
    }

    .footer__faq {
        margin-bottom: 10px;
        width: 50%;
    }

    .footer__blog {
        width: 50%;
    }

    .footer__contact-us {
        margin-bottom: 20px;
        width: 50%;
    }

    .footer__socials {
        width: 90%;
    }
}




